<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.mappers.CategoryMapper">
	
	<insert id="insertCategory">
		insert into tb_category(cname, mno) values(#{cname}, #{mno})
	</insert>
	
	<select id="getCategoryList" resultType="Category">
		select cname, cno from tb_category where mno = #{mno} 
	</select>
	
</mapper>